@import 'variables';
@import 'typography';

// 
// RESETS & BASIC STYLES
//

// Display-role reset for older browsers
article, footer, header, nav, section, main {
	display: block;
}

// Natural box model
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	@extend %cf;
	background: $bg;
	padding: $unit*2;
}

a {
	color: $text;
	text-decoration: underline;
	&:hover { color: $red; }
}

.body-wrapper {
	@extend %cf;
	background: #fff;
	min-height: 100%;
	padding: $unit*4;
}

.wrapper {
	margin: 0 auto;
	max-width: 600px;
}

.wrapper-wide {
	margin: 0 auto;
	max-width: 900px;
}

.text {
	ul, ol { padding-left: $unit*2 }
	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }
}

figure { margin: 0; }

// HEADER

.header {
	@extend %font-sans;
	height: $unit*3 + 1px;
	border-bottom: 1px solid $border;
	font-weight: 500;
	a { text-decoration: none; }
}

.logo {
	padding: 0;
	float: left;
	height: 100%;
	padding-bottom: $unit;
	img {
		display: block;
		height: 100%;
	}
}

.nav {
	float: right;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: $unit*2;
	font-size: 0.85em;
	li {
		float: left;
		margin-left: $unit*2;
	}
	a {
		color: $text-light;
		height: 100%;
		display: block;
		padding-bottom: $unit;
		transition: color 0.2s ease;
		&:hover, &.active { color: $text; }
		&.active { border-bottom: 1px solid $red; }
	}
}

.menu { @extend %cf; }

img {
	max-width: 100%;
	border-radius: 3px;
}

// 
// PROJECTS
// 

.project {
	margin: $unit*4 0;
}

.project-banner {
	img { display: block; }
	+ .project-name { margin-top: $unit*2; }
}

// 
// RESUME
// 

.resume-section-title { text-align: center; }

.resume-name { display: inline; }

.resume-dates {
	display: inline;
	font-size: 0.8em;
	font-style: italic;
	color: $text-light;
}

.resume-desc {
	font-size: 0.9em;
	clear: both;
}

.skills {
	text-align: center;
	@extend %cf;
}

.skill {
	display: inline-block;
	&:after {
		content: '\02022';
		padding: 0 0.8em;
	}
	&:last-child:after {
		content: '';
		padding: 0;
	}
}

.resume-requests {
	font-style: italic;
	text-align: center;
	margin-top: $unit*4;
}

//
// BANDCAMP
//

ul.fb-messages {
	@extend %cf;
	padding: 0;
	li { 
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		font-weight: 400;
		background: #f0f0f0;
		display: inline-block;
		padding: 0.75em 1em;
		border-radius: 4px;
		max-width: 80%;
		margin: 2px 0;
		clear: both;
	}
}

ul.fb-messages-left {
	li {
		float: left;
		border-top-right-radius: 1.5em;
		border-bottom-right-radius: 1.5em;
		&:first-child { border-top-left-radius: 1.5em; }
		&:last-child { border-bottom-left-radius: 1.5em; }
	}
}

ul.fb-messages-right {
	li {
		background: $blue;
		color: #fff;
		float: right;
		border-top-left-radius: 1.5em;
		border-bottom-left-radius: 1.5em;
		&:first-child { border-top-right-radius: 1.5em; }
		&:last-child { border-bottom-right-radius: 1.5em; }
	}
}

.discoveries {
	@extend %cf;
	margin-left: -$unit;
	margin-right: -$unit;
	.discovery {
		float: left;
		width: 50%;
		text-align: center;
		padding: $unit;
		h4 {
			@extend %font-sans;
			font-size: 0.8em;
			color: $text-light;
		}
	}
}

.signature {
	margin-top: $unit*4;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
}

//
// FOOTER
//

.footer {
	@extend %font-sans;
	@extend %cf;
	background: #fff;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	margin-top: $unit*4;
	font-size: 0.8em;
	a {
		color: $text;
		text-decoration: none;
		box-shadow: inset 0 -2px transparent;
		transition: box-shadow 0.2s ease;
		&:hover { box-shadow: inset 0 -2px 0 $red; }
	}
}

.footer-block {
	float: left;
	width: 50%;
	padding: 1.5em 0;
}

.footer-contact {
	border-right: 1px solid $border;
}

.footer-header {
	color: $text-light;
	margin-bottom: $unit;
}

.footer-elsewhere {
	padding-left: 1.5em;
	li {
		float: left;
		width: 50%;
	}
}

// 
// MEDIA QUERIES
// 

@media all and (max-width: 780px) {
	body { font-size: 19px; }
	.welcome { text-align: left; }
}

@media all and (max-width: 600px) {
	body {
		font-size: 18px;
		padding: $unit;
	}
	.body-wrapper { padding: $unit*3; }
}

@media all and (max-width: 500px) {
	body {
		font-size: 17px;
		padding: 0;
		background: #fff;
	}
	.body-wrapper { padding: $unit*2; }
	.nav li { margin-left: $unit; }
}

@media all and (max-width: 400px) {
	body { font-size: 16px; }
	.body-wrapper { padding: $unit; }
	h1 {
		margin: $unit*2 0;
		font-size: 1.8em;
	}
	.project { margin: $unit*3 0; }
	.project-banner + .project-name { margin: $unit 0; }
	.skill:after { padding: 0 0.5em; }
	.footer { margin-top: $unit*3; }
	.footer-block { padding: 1em 0; }
	.footer-elsewhere { padding-left: 1em; }
}

@import 'print';