// 
// VARIABLES & SILENT CLASSES
// 

$text: #353E4B;
$text-light: #A59D8A;
$link: #E35D53;
$beige: #F8F7F3;
$bg: $beige;

$unit: 14px; // Used for maintaining vertical rhythm

%font-serif {
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-weight: 300;
}

%font-sans {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

%cf {
	*zoom: 1; // IE 6/7
	&:after { clear: both; }
	&:before, &:after {
		content: " ";
		display: table;
	}
}

::selection {
	background-color: $beige;
}

// 
// RESETS & BASIC STYLES
// 

html {
	height: 100%;
	-webkit-font-smoothing: antialiased; // Fix fatty fonts
    -moz-osx-font-smoothing: grayscale;
}

html, body, ul, ol, li, p, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

// Display-role reset for older browsers
article, footer, header, nav, section, main {
	display: block;
}

// Natural box model
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	@extend %cf;
	@extend %font-serif;
	background: $bg;
	line-height: $unit*2;
	color: $text;
	font-size: 20px;
	padding: $unit*2;
}

a {
	color: $link;
	border-bottom: 2px solid darken($beige, 5%);
	text-decoration: none;
	transition: linear .2s;
	&:hover {
		border-bottom-color: $link;
	}
	&.disabled {
		color: $text-light;
		text-decoration: line-through;
		pointer-events: none;
	}
}

ol, ul { list-style: none; }

p { margin-bottom: $unit*2; }

h1, h2, h3, h4 {
	@extend %font-sans;
	margin: 0;
}

.body-wrapper {
	@extend %cf;
	background: #fff;
	padding: $unit*4;
	min-height: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 725px;
}

// 
// CONTENT
// 

.main {
	@extend %cf;
	.wrapper { position: relative; }
}

.header { margin-bottom: $unit*4; }

.site-title { display: none; } // Hide title

.hello {
	font-size: 1.6em;
	line-height: $unit*3;
	position: relative;
}

.creation { font-family: 'Permanent Marker'; }

.amp { font-style: italic; }

.selfie {
	position: absolute;
	width: $unit*8;
	height: $unit*8;
	left: -$unit*11;
	top: 50%;
	margin-top: -$unit*4;
	border-radius: 100%;
	pointer-events: none; // Prevent dragging
	transition: opacity 0.5s ease-in;
	opacity: 1;
}

.content {
	margin-right: 200px + $unit*3; // Width of .info plus margin
	img { max-width: 100%; }
}

//
// INFO SIDEBAR / FOOTER
//

.info {
	@extend %font-sans;
	position: absolute;
	right: 0; top: 0;
	width: 200px;
	font-size: 0.8em;
}

.info-block {
	margin-bottom: $unit*2;
	&:last-child { margin-bottom: 0; }
}

.info-header {
	color: $text-light;
	text-transform: uppercase;
	letter-spacing: 1px;
	//margin-bottom: $unit*2;
}

// 
// MEDIA QUERIES
// 

@media all and (max-width: 1170px) {
	.selfie { opacity: 0; }
}

@media all and (max-width: 800px) {
	.content { margin-right: 0; }
	.info {
		position: relative;
		width: auto;
		margin-left: 0;
		margin-top: $unit*4;
	}
	.info-block {
		float: left;
		width: 50%;
	}
	.info-elsewhere {
		li {
			float: left;
			width: 50%;
		}
	}
}

@media all and (max-width: 600px) {
	body {
		font-size: 19px;
		padding: $unit;
	}

	.body-wrapper {
		padding: $unit*3;
	}
}

@media all and (max-width: 500px) {
	body {
		font-size: 18px;
		padding: $unit 0 0 0;
	}
	.info-elsewhere { width: 100%; }
}

@media all and (max-width: 400px) {
	$unit: 12px;
	body {
		font-size: 17px;
		line-height: $unit*2;
	}
	.body-wrapper { padding: $unit*2; }
	p { margin-bottom: $unit*2; }
	.hello { line-height: $unit*3; }
	.header { margin-bottom: $unit*4; }
	.info-block { width: 100%; }
	.info-projects li {
		float: left;
		width: 50%;
	}
}